body {
    margin:0;
    backgroud: #ddd;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.caja {
    margin: 150px 15px;
    width: 150px;
    height: 150px;
    background: crimson;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.caja:nth-child(1):hover{
    background: purple;
    transform: translateY(50px);
}


.caja:nth-child(2):hover{
    background: green;
    transform:rotate(50deg);
}

.caja:nth-child(3):hover{
    background: blue;
    transform: scale(2,2);
}

.caja:nth-child(4):hover{
    background: pink;
    transform: skew(25deg);
}