body {
    margin:0;
    backgroud: #ddd;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.caja {
    margin: 150px 15px;
    width: 150px;
    height: 150px;
    background: crimson;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.oval-half-red {
    margin: 150px 15px;
    width: 250px;
    height: 150px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: crimson;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.rombo {
    margin: 150px 15px;
    width: 150px; 
    height: 150px; 
    background: crimson;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.huevo {
    margin: 150px 20px;
    width: 126px;
    height: 180px;
    background-color: crimson;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
}

.caja:nth-child(1):hover{
    background: purple;
    transform: translateY(50px);
}


.oval-half-red:nth-child(2):hover{
    background: green;
    transform:rotate(50deg);
}

.rombo:nth-child(3):hover{
    background: blue;
    transform: scale(2,2);
}

.huevo:nth-child(4):hover{
    background: pink;
    transform: skew(-35deg);
}